NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_SITE_URL=https://ahmedaziz-portfolio.vercel.app
APP_URL=https://ahmedaziz-portfolio.vercel.app
ALLOWED_ORIGINS=https://ahmedaziz-portfolio.vercel.app,http://localhost:3000,http://127.0.0.1:3000

REQUIRE_ADMIN_MFA=false
ADMIN_MFA_REMEMBER_DAYS=10

NEXT_PUBLIC_GITHUB_USERNAME=mhiriaziz13-gif
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-W7WJF6YR9X
